name: fwframework_flutter
description: "Flutter development framework."
version: 0.0.4
homepage: https://github.com/lszzy/fwframework_flutter

environment:
  sdk: '>=3.4.4 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  event_bus: ^2.0.0
  flutter_screenutil: ^5.9.0
  flutter_smart_dialog: ^4.9.0
  provider: ^6.1.0
  bloc: ^9.0.0
  flutter_bloc: ^9.0.0
  path_provider: ^2.1.0
  path_provider_foundation: ^2.4.0
  package_info_plus: ^8.3.0
  device_info_plus: ^11.0.0
  go_router: ^15.0.0
  mmkv: ^2.2.0
  shared_preferences: ^2.0.0
  flutter_secure_storage: ^9.2.4
  visibility_detector: ^0.4.0

dev_dependencies:
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
# flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
